@charset "utf-8";
    
html {
    -webkit-text-size-adjust: auto; /* or 50%, 100%, et., autoresize text - does this work? */
}

body {
	margin-bottom: 0px;
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
	background-color:#FFF;
/*	background:url(bg.png) top left repeat-x,
		       url(bg-bottom.png) bottom left repeat-x; */
}

a:link, a:visited, a:hover {
	color: #000;
    text-decoration: none;
}
	
.thePage {
	margin-left: auto;
    margin-right: auto;
	background-color:#FFF;
	z-index:0;

}

.SMGMobile {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 3.5em;
	color: #000;
	padding: 5px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: center;

}

.simpleSubway {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
    text-align: center;
    padding: 5px;
}

.bodyText {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
    text-align: center;
    color: #000;

}


.shadow{
	-moz-box-shadow: 10px 10px 10px #000;
	-webkit-box-shadow: 10px 10px 10px #000;
	box-shadow: 10px 10px 10px #000;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        
        .bodyText {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 2.5em;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
    
        .bodyText {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 2.5em;
        }
    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    
        .bodyText {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 2.5em;
        }
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
    
        .bodyText {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 2em;
        }

    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        .bodyText {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1em;
        }
    
    }
